<div class="container">
  <div class="controls">
    <button [disabled]="!isReadyToOrder || control.errors" type="button" class="place-order-button"
            clickable title="Place order"
            (click)="placeOrder()">
      Place order
    </button>
  </div>
  <div class="delivery-info-container">
    <label for="deliveryInfo" class="required">Delivery information:</label>
    <input type="text" [placeholder]="deliveryInfoPlaceholder" id="deliveryInfo"
           [(ngModel)]="deliveryInfo"
           #control="ngModel"
           required
           pattern="\d{1,10}\s[a-zA-Z0-9\s\.,]{2,100}\s[a-zA-Z0-9\s\.,]{2,100}\s\d{6,10}"
    />
    <div *ngIf="(control.errors || control.invalid) && (control.dirty || control.touched)" class="errors">
      <div *ngFor="let key of getKeyList(control?.errors)">
        {{getDisplayValue(key)}}
      </div>
    </div>
  </div>
  <div class="order_status" *ngIf="orderProcessingStatus">Your order status: {{orderProcessingStatus}}</div>
  <div class="embedded-checkout-container" id="embedded-checkout-container"></div>
</div>
